<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="program">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Program</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="activity">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Activity</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="info">
      <ion-icon name="send"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="networking">
      <ion-icon name="send"></ion-icon>
      <ion-label>Networking</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="survey">
      <ion-icon name="send"></ion-icon>
      <ion-label>Survey</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
